* {
    box-sizing: border-box;
}

body {
   margin: 0px;
   padding: 0px;
   font: poppins;
}

#main {

  width: 100%;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.02);
  z-index: 1;
}

.logo img {
   height: 50px;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li a {
  line-height: 40px;
  margin: 5px;
  height: 45px;
  padding: 0px 22px;
  display: flex;
  font-size: 15px;
  font-weight: 500;
  color: gray;
}

a {
   text-decoration: none;
}

.hey {
  font-weight: 500;
  font-size: 12px;
  color: #39bfbd;
  border-bottom: 2px solid #39bfbd;
}

.image {
  height: 300px;
  width: 300px;
}

.image img {
   height: 100%;
   weight: 100%;
   object-fit: contain;
}

.content {
   display: flex;
   width: 90%;
   justify-content: space-around;
   align-items: center;
   position: absolute;
   left: 50%;
   right: 50%;
   top: 50%;
   transform: translate(-50%, -50%)
}

.main-text {
   width: 500px;
}

.main-text h2 {
   color: #1c3548;
}

.main.text p{
   color: grey;
}

.resume{
   width: 200px;
   height: 45px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   background-color: #1db096;
   border-radius: 20px;
   box-shadow: 5px 10px 20px rgba(24, 139, 119, 0.2);
}

.resume:hover {
  background-color: #23cdaf;
  transition: all ease 0.2s;
}

.menu li a:hover {
  background-color: #23cdaf;
  transition: all ease 0.2s;
  color: white;
  box-shadow: 5px 10px 20px rgba(24, 139, 119, 0.2);
  
}



